<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <spring>
    <context>
      <resource uri="config://spring/objects">
      </resource>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object type="Spring.Objects.Factory.Config.ConfigSectionVariableSource, Spring.Core">
              <property name="SectionNames" value="appSettings">
              </property>
            </object>
          </list>
        </property>
      </object>

      <object id="DataBase" type="Data.Linq.Mapping.DB,Util">
        <constructor-arg value="Data Source=HEITH\SQLServer;Initial Catalog=Ajedrez;Persist Security Info=True;User ID=sa;Password=Info100100" />
      </object>

      <object id="DaoParticipantes" type="Data.Linq.DAO.ParticipanteDAO,Util">
        <property name="data" ref="DataBase" />
      </object>

      <object id="WebClient" type="Web.Extensions.WebClient,FixedUtil">
        <property name="URL" value="http://localhost:55559/" />
      </object>
      <object id="Sesion" type="Extra.Session.SimpleGlobalSession">
        <constructor-arg ref="WebClient" />
      </object>


      <object id="DaoHotel" type="Data.Linq.DAO.DaoCrudCampeonato&lt;Data.Linq.Mapping.Hotel&gt;,Util">
        <property name="BD" ref="DataBase" />
      </object>
      <object id="CatalogoHotel" type="CampeonatoAjedrezWPF.Logic.CatalogoHotel">
        <property name="dao" ref="DaoHotel" />
      </object>

      <object id="DaoCampeonatoPrevio" type="Data.Linq.DAO.DaoCrudCampeonato&lt;Data.Linq.Mapping.Campeonato&gt;,Util">
        <property name="BD" ref="DataBase" />
      </object>
      <object id="CatalogoCampeonatoPrevio" type="CampeonatoAjedrezWPF.Logic.CatalogoCampeonatoPrevio">
        <property name="dao" ref="DaoCampeonatoPrevio" />
      </object>

      <object id="DaoLocalidad" type="Data.Linq.DAO.DaoCrudCampeonato&lt;Data.Linq.Mapping.Localidad&gt;,Util">
        <property name="BD" ref="DataBase" />
      </object>
      <object id="CatalogoLocalidad" type="CampeonatoAjedrezWPF.Logic.CatalogoLocalidad">
        <property name="dao" ref="DaoLocalidad" />
      </object>

      <object id="DaoParticipante" type="Data.Linq.DAO.DaoCrudCampeonato&lt;Data.Linq.Mapping.Participante&gt;,Util">
        <property name="BD" ref="DataBase" />
      </object>
      <object id="CatalogoParticipantes" type="CampeonatoAjedrezWPF.Logic.CatalogoParticipantes">
        <property name="dao" ref="DaoParticipante" />
      </object>

      <object id="DaoTelefono" type="Data.Linq.DAO.DaoCrudCampeonato&lt;Data.Linq.Mapping.Telefono&gt;,Util">
        <property name="BD" ref="DataBase" />
      </object>
      <object id="CatalogoTelefonosDeHotel" type="CampeonatoAjedrezWPF.Logic.CatalogoTelefonosDeHotel">
        <property name="dao" ref="DaoTelefono" />
      </object>

      <object id="DaoPartida" type="Data.Linq.DAO.DaoCrudCampeonato&lt;Data.Linq.Mapping.Partida&gt;,Util">
        <property name="BD" ref="DataBase" />
      </object>
      <object id="CatalogoPartidas" type="CampeonatoAjedrezWPF.Logic.CatalogoPartidas">
        <property name="dao" ref="DaoPartida" />
      </object>


      <object id="DiccionarioCRUD" type="Data.Linq.DAO.DaoDictionary,Util">
        <property name="daos">
          <dictionary key-type="string" value-type="Object">
            <!--Linq -->
            <!--<entry key="CatalogoHotel" value-ref="CatalogoHotel" />
            <entry key="CatalogoLocalidad" value-ref="CatalogoLocalidad" />
            <entry key="CatalogoCampeonatoPrevio" value-ref="CatalogoCampeonatoPrevio" />
            <entry key="CatalogoTelefonosDeHotel" value-ref="CatalogoTelefonosDeHotel" />
            <entry key="CatalogoParticipantes" value-ref="CatalogoParticipantes" />
            <entry key="CatalogoPartidas" value-ref="CatalogoPartidas" />-->
            <!--API -->
            <entry key="CatalogoHotelApi" value-ref="CatalogoHotel" />
            <entry key="CatalogoLocalidadApi" value-ref="CatalogoLocalidad" />
            <entry key="CatalogoCampeonatoPrevioApi" value-ref="CatalogoCampeonatoPrevio" />
            <entry key="CatalogoTelefonosDeHotelApi" value-ref="CatalogoTelefonosDeHotel" />
            <entry key="CatalogoParticipantesApi" value-ref="CatalogoParticipantes" />
            <entry key="CatalogoPartidasApi" value-ref="CatalogoPartidas" />
          </dictionary>
        </property>
      </object>

      <object id="DaoHotelApi" type="Data.Api.DAO.IDaoCrudApi&lt;Data.Linq.Mapping.Hotel&gt;,Util">
        <constructor-arg ref="Sesion" />
      </object>
      <object id="CatalogoHotelApi" type="CampeonatoAjedrezWPF.Logic.CatalogoHotel">
        <property name="dao" ref="DaoHotelApi" />
      </object>

      <object id="DaoCampeonatoPrevioApi" type="Data.Api.DAO.IDaoCrudApi&lt;Data.Linq.Mapping.Campeonato&gt;,Util">
        <constructor-arg ref="Sesion" />
      </object>
      <object id="CatalogoCampeonatoPrevioApi" type="CampeonatoAjedrezWPF.Logic.CatalogoCampeonatoPrevio">
        <property name="dao" ref="DaoCampeonatoPrevioApi" />
      </object>

      <object id="DaoLocalidadApi" type="Data.Api.DAO.IDaoCrudApi&lt;Data.Linq.Mapping.Localidad&gt;,Util">
        <constructor-arg ref="Sesion" />
      </object>
      <object id="CatalogoLocalidadApi" type="CampeonatoAjedrezWPF.Logic.CatalogoLocalidad">
        <property name="dao" ref="DaoLocalidadApi" />
      </object>

      <object id="DaoParticipanteApi" type="Data.Api.DAO.IDaoCrudApi&lt;Data.Linq.Mapping.Participante&gt;,Util">
        <constructor-arg ref="Sesion" />
      </object>
      <object id="CatalogoParticipantesApi" type="CampeonatoAjedrezWPF.Logic.CatalogoParticipantes">
        <property name="dao" ref="DaoParticipanteApi" />
      </object>

      <object id="DaoTelefonoApi" type="Data.Api.DAO.IDaoCrudApi&lt;Data.Linq.Mapping.Telefono&gt;,Util">
        <constructor-arg ref="Sesion" />
      </object>
      <object id="CatalogoTelefonosDeHotelApi" type="CampeonatoAjedrezWPF.Logic.CatalogoTelefonosDeHotel">
        <property name="dao" ref="DaoTelefonoApi" />
      </object>

      <object id="DaoPartidaApi" type="Data.Api.DAO.IDaoCrudApi&lt;Data.Linq.Mapping.Partida&gt;,Util">
        <constructor-arg ref="Sesion" />
      </object>
      <object id="CatalogoPartidasApi" type="CampeonatoAjedrezWPF.Logic.CatalogoPartidas">
        <property name="dao" ref="DaoPartidaApi" />
      </object>

    </objects>
  </spring>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>